*__pycache__/
*.pyc
*~
temp
temp/
*.DS_Store
*/.DS_Store
*.png
build/
examples/
docs/_build
docs/source/_autosummary
*.egg-info
dist/
*.hdf5
.vscode/
.vs/
*.code-workspace
.ropeproject/
data/
old/
*.eps
*.pdf
*.txt
out*
.ropeproject/
run/
old/
*.pyd
*.pyi
*.pdb
*.so
Pipfile
Pipfile.lock
.claude/
.github/
.pytest_cache/